<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Grade Agile Brazil</title>
  <style type="text/css">
  body{
    font-size: 10.95px;
    text-align: center;
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
tr { line-height: 18  px; }
.data{font-size: 14px;}
  </style>
</head>

<body>
  <p class="data">{{day}}</p>
  <table >
    <tr>
      <th></th>
      {{#each venues}}
        <th>{{this}}</th>
      {{/each}}
    </tr>
    {{#each scheduleList}}
      <tr>
        <td>{{schedule}}</td>
        {{#each sessions}}
          <td rowspan={{rowspan}} colspan={{colspan}}>{{name}}</td>
        {{/each}}
      </tr>
    {{/each}}
  </table>
</body>
</html>
